# =========== 编译产物 =============
*.pyc


# =========== papers 产物 ============
papers/raw/*.pdf
papers/raw/*.tex
papers/tmp/*

# =========== codes 产物 ============
codes/build*
codes/.cache
compile_commands.json
