# =========== 编译产物 =============
*.pyc


# =========== 原始论文 =============
# 文章是可下载的, 只保留 *.json 和 *.md 索引即可
raw/*.pdf
raw/*.tex

# =========== codes产物 ============
codes/build*
codes/.cache
compile_commands.json

# =========== 临时文件 =============
tmp/*