# =========== papers 产物 ============
papers/raw/*.pdf
papers/raw/*.tex
papers/tmp/*

# =========== 编译 产物 ===========
__pycache__/
.cache/
build*/
compile_commands.json

# =========== PPT 产物 ===========
*.png